
.navbar {
  border-width: 0;
  margin-bottom: 0px;
  &-default {

    .badge {
      background-color: #fff;
      color: @navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: @navbar-inverse-bg;
    }
  }

  &-brand {
    padding: 18.5px 15px 20.5px;
	
  }  
}

.current-menu-parent {
	color: @navbar-default-link-active-color;
	background-color: @navbar-default-link-active-bg;
		
}

@media (max-width: (@screen-md-min - 1)) {
  .navbar-nav .open .dropdown-menu {
	background-color: @navbar-default-link-active-bg;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: @brand-primary;
    
  }
  
}

