
//=== Shared nav styles
@nav-link-padding:                          10px 15px;
@nav-link-hover-bg:                         @gray-lighter;

@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;

@nav-open-link-hover-color:                 #fff;

//== Tabs
@nav-tabs-border-color:                     @gray-lighter;

@nav-tabs-link-hover-border-color:          @gray-lighter;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @brand-primary;
@nav-tabs-active-link-hover-border-color:   @gray-lighter;

@nav-tabs-justified-link-border-color:            @gray-lighter;
@nav-tabs-justified-active-link-border-color:     @body-bg;

//== Pills
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         @component-active-color;


//== Pagination
@pagination-color:                     #fff;
@pagination-bg:                        @brand-primary;
@pagination-border:                    transparent;

@pagination-hover-color:               #fff;
@pagination-hover-bg:                  darken(@brand-primary, 15%);
@pagination-hover-border:              transparent;

@pagination-active-color:              #fff;
@pagination-active-bg:                 darken(@brand-primary, 15%);
@pagination-active-border:             transparent;

@pagination-disabled-color:            @gray-lighter;
@pagination-disabled-bg:               lighten(@brand-primary, 15%);;
@pagination-disabled-border:           transparent;


//== Pager
@pager-bg:                             @pagination-bg;
@pager-border:                         @pagination-border;
@pager-border-radius:                  15px;

@pager-hover-bg:                       @pagination-hover-bg;

@pager-active-bg:                      @pagination-active-bg;
@pager-active-color:                   @pagination-active-color;

@pager-disabled-color:                 #fff;


//== Jumbotron
//
//##

@jumbotron-padding:              30px;
@jumbotron-color:                inherit;
@jumbotron-bg:                   @gray-lighter;
@jumbotron-heading-color:        inherit;
@jumbotron-font-size:            ceil((@font-size-base * 1.5));


.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.pagination {
	.current{
		background-color: @pagination-hover-bg;
	}
}

.pager {
  a,
  a:hover {
    color: #fff;
  }

  .disabled {
    &>a,
    &>a:hover,
    &>a:focus,
    &>span {
      background-color: @pagination-disabled-bg;
    }
  }  
}