@import "/less/bootstrap/less/bootstrap.less";
@import "/less/font-awesome/less/font-awesome.less";

/*
Basic variables
*/

/*
Gray and brand colors for use across Bootstrap.
*/
@gray-darker: lighten(#000, 13.5%); // #222
@gray-dark: #7b8a8b;   // #333
@gray: #95a5a6; // #555
@gray-light: #b4bcc2;   // #999
@gray-lighter: #ecf0f1; // #eee

@brand-primary: #d8283d;
@brand-success: #18BC9C;
@brand-info: #3498DB;
@brand-warning: #F39C12;
@brand-danger: #E74C3C;

@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");

@header-color: #222222;
@header-text-color: #ffffff; 

@bottom-color: lighten(@header-color, 5%); 
@bottom-text-color: @header-text-color;

@footer-color: darken(@header-color, 5%);
@footer-text-color: @header-text-color;

//** Global textual link color.
@link-color: @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:  darken(@link-color, 10%);

//** Background color for `<body>`.
@body-bg: #fafafa;
//** Global text color on `<body>`.
@text-color: #444444;

@import "/less/typography.less";
@import "/less/navbar.less";
@import "/less/components.less";
@import "/less/tables.less";

@import "/less/post.less";
@import "/less/archive.less";
@import "/less/comments.less";

#header{
	background-color: @header-color;
	color: @header-text-color;
}

#bottom{
	background-color: @bottom-color;
	color: @bottom-text-color;
}

#footer{
	background-color: @footer-color;
	color: @footer-text-color;
	padding: 30px 0px;
}

html{
	background-color: @footer-color
}

body { 
	padding-top: 57px;	
}

/*admin bar*/
.admin-bar .navbar-fixed-top{
    top:28px;
}

section {
	padding: 30px 0px;
}

